.main-navigation {
  display: flex;
  justify-content: space-between;
  background: #fff;
  margin-bottom: 25px;
  padding: 0 80px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
}

/* .fixed {
  
} */
/* .paddingTop {
  padding-top: 30px;
  background: #fff0ed;
} */

.main-navigation__icon {
  min-width: 50px;
  max-width: 120px;
  padding-left: 20px;
}

.main-navigation__subheading {
  font-size: 1.25rem;
  font-weight: 700;
  display: inline-block;
  color: #335576;
  padding-top: 32px;
}

.main-navigation__header-link,
.main-navigation__header-link:visited {
  color: #335576;
}
.main-navigation__list {
  list-style-type: none;
}

.main-navigation__item {
  padding: 2rem 0.5rem 0 0.5rem;
}

.main-navigation__list,
.main-navigation__item {
  display: inline-block;
}

.main-navigation__link,
.main-navigation__link--highlighted {
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
}

.main-navigation__link,
.main-navigation__link:visited {
  color: #393939;
}

.main-navigation__link--highlighted {
  border-bottom: 4px solid #db7a4e;
  color: #393939;
  padding-bottom: 15px;
  /* margin-bottom: 40px; */
}

/*  Hero Section */
.hero-section {
  display: flex;
  justify-content: space-between;
  background: #fefaf5;
  padding: 40px 80px 0 80px;
  padding-bottom: 60px;
}

.hero-section__intro-card {
  display: block;
  align-items: center;
  width: 40rem;
  margin-top: 8%;
  font-size: 1rem;
  /* margin-left: 8%; */
  /* margin-bottom: 10%; */
}

.hero-section__image {
  /* margin: 3% 0 -7% 32%; */
  width: 400px;
  height: 300px;
  margin-top: 4%;
}

.hero-section__main-header {
  color: #335576;
  font-size: 2rem;
  font-weight: 700;
}

.hero-section__main-header,
.hero-section__description {
  padding-bottom: 1.25rem;
}

.hero-section__description {
  color: #335576;
  text-align: left;
}

.hero-section__btn-orange,
.products__btn-blue {
  background: #db7a4e;
  color: #fff;
  border: none;
  font-size: 1.25rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  padding: 0.62rem 2rem;
  margin-top: 1.25rem;
  border-radius: 40px;
}

.products__btn-blue {
  margin-top: 3.25rem;
  margin-bottom: 4rem;
}

/* Recommendations */
.recom {
  padding: 20px 80px;
}
.recom__header {
  color: #335576;
  background: #fff;
  font-size: 1.25rem;
  margin-top: 20px;
  margin-bottom: 20px;
}
.recom__container {
  display: flex;
  width: 65%;
  height: 500px;
  margin: 0 auto;
  justify-content: space-between;
}

.recom__card {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  box-sizing: content-box;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  min-width: 220px;
  /* min-width: 100%; */
  min-height: 350px;
  /* width: 199px;
  height: 275px; */

  width: 30%;
  height: 20%;
  margin-bottom: 30px;
}

.recom__card--label {
  color: #fff;
  font-weight: 700;
  font-size: 1.25rem;
  padding-bottom: 10px;
  padding-right: 10px;
}

.recom__card--hawaii {
  background: url(../Assets/Images/hawaii.jpg) center center/cover no-repeat;
}

.recom__card--iceland {
  background: url(../Assets/Images/iceland.jpg) center center/cover no-repeat;
}
.recom__card--greece {
  background: url(../Assets/Images/greece.jpg) center center/cover no-repeat;
}

/* Footer */
.business-info {
  background: #fefaf5;
  padding-left: 60px;
}

.business-info__container {
  display: flex;
  justify-content: space-between;
  width: 65%;
  margin: 0 auto;
}

.business-info__contact,
.business-info__hours,
.business-info__social {
  box-sizing: content-box;
  color: #335576;
  text-align: left;
  padding-bottom: 20px;
  padding-right: 0px;
  /* display: inline-block; */
  /* margin: 0 2.5rem 2.5rem 2.5rem; */
  /* padding: 0 2.5rem 2.5rem 2.5rem; */
}

.business-info__social {
  padding-bottom: 0;
  /* margin-right: 40px; */
  padding-right: 40px;
}

/* .business-info__hours{
    /* display: flex; */

.business-info__address {
  margin: 0;
  /* margin-left: 16rem; */
}

.business-info__headings {
  text-align: left;
  padding-top: 1.25rem;
  margin: 1.25rem 1.25rem 1.25rem 0;
  font-size: 1.25rem;
  font-weight: 700;
}
.business-info__titles {
  color: #db7a4e;
  font-size: 12px;
  padding-bottom: 10px;
}

.business-info__details {
  color: #335576;
  font-weight: 400;
}

.business-info__more-hours {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding-bottom: 20px;
}

.business-info__icon,
.business-info__social-links {
  /* min-width: 1rem; */
  max-width: 1.25rem;
  max-height: 1.25rem;
  /* margin-right: 15px; */
  /* margin-bottom: */
  text-decoration: none;
  padding-bottom: 0;
  margin-bottom: -25px;
}

.business-info__social-links {
  margin-right: 15px;
}
